.hg
/*.hgignore
_ReSharper.BBCodeParser
/BBCodeParser/BBCodeParser/bin/Debug
/BBCodeParser/BBCodeParser/bin/Release
/BBCodeParser/BBCodeParser/obj/Debug
/BBCodeParser/BBCodeParser/obj/Release
/BBCodeParser/BBCodeParser.sln.DotSettings.user
/BBCodeParser/BBCodeParser.v11.suo
/BBCodeParser/Testing/bin/Debug
/BBCodeParser/Testing/bin/Release
/BBCodeParser/Testing/obj/Debug
/BBCodeParser/Testing/obj/Release
/BBCodeParser/.idea
